/* body
{
    background: ;
} */

.list_month
{
    /* margin-top: 50%; */
    margin-left: 19%;
}

.link
{
    color: yellow;
}

.indent
{
    margin-top: 20px;
}

img
{
    width: 100%;
}

.btn-width-100
{
    width: 100px;
}