body
{
    background: #17a2b8;
}

.list_month
{
    margin: 0 15% 0 15%;
    width: 70%;
}

.link
{
    color: yellow;
}

.indent
{
    margin-top: 20px;
}

.btn-width-100
{
    width: 100px;
}

div>img
{
    max-width: 300px;
    margin: auto;
}

div>div>p
{
    text-indent: 10px;
}